<template lang="pug">
.container
  .section.is-80p
    .columns
      .column
        .card
          .card-header.has-background-dark
            p.card-header-title.has-text-white-bis
              | 實況畫面
          .card-content
            .card-image
              figure.image
                img(:src="face_video_img" id="face_video")
            .img-footer
              div(v-if="querydata")
                b-taglist
                  b-tag(type="is-info") pitch: {{querydata.selectedPaw}}
                  b-tag(type="is-info") roll: {{querydata.selectedRaw}}
                  b-tag(type="is-info") yaw: {{querydata.selectedYaw}}
      .column
        .card
          .card-header.has-background-dark
            p.card-header-title.has-text-white-bis
              | 相似圖畫
          .card-content
            .card-image
              div(class="ptdata__name" v-if="ptdata")
                a(:href="ptdata.url ? ptdata.url : '#'" target="_blank")
                  span(v-if="!ptdata.name && !ptdata.country") Unknown
                  span(v-if="ptdata.name") {{ptdata.name}}
                  span(v-if="ptdata.country") - {{ptdata.country}}
              figure.image
                img(:src="purl" id="face_video")
              div(class="ptdata__year" v-if="ptdata.star_year") {{ptdata.star_year}} - {{ptdata.end_year}}
              div(v-if="selectedYaw")
            .img-footer
              div(v-if="ptdata")
              b-taglist
                b-tag(type="is-info") pitch: {{ptdata.pitch}}
                b-tag(type="is-info") roll: {{ptdata.roll}}
                b-tag(type="is-info") yaw: {{ptdata.yaw}}
</template>

<script>
const io = require('socket.io-client')
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data: () => {
    return {
      backend_domain: "http://localhost:3001",
      face_video_img: "",
      purl: "",
      ptdata: {
        name: undefined,
        country: undefined,
        star_year:undefined,
      },
      selectedYaw: undefined,
      querydata: undefined,
    }
  },
  created() {
    const socket = io.connect(this.backend_domain);
    socket.on('image', (data) => {
      this.face_video_img = `data:image/jpeg;base64,${data}`
    })
    socket.on('painting', ({data, selectedYaw, inputdata}) => {
      this.purl = `${this.backend_domain}/selected/${data.filename}`
      this.ptdata = data
      this.querydata = inputdata
      this.selectedYaw = selectedYaw
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style style="scss" scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #151613;
}
.is-80p {
  /* width: 60%;
  margin: auto; */
}
.ptdata__name {
  font-weight: bold;
  color: black;
  z-index: 10;
  font-size: 2rem;
}
.ptdata__year {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  position: relative;
  right: 20px;
  float: right;
  bottom: 60px;
}
.img-footer {
  padding-top: 1rem;
}
</style>
