<template lang="pug">
div
  nav.navbar.is-black.is-fixed-top(role="navigation" aria-label="main navigation")
    .navbar-brand
      a.navbar-item(href="#")
        h1 ArtGame
  GameDashboard
</template>

<script>
import GameDashboard from './components/GameDashboard.vue'

export default {
  name: 'app',
  components: {
    GameDashboard
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
